// fonts
$roboto-font: "Roboto", sans-serif;
$primary-font: "Poppins", sans-serif;
$title-font: "Poppins", serif;
//colors
$color-light-blue: rgba(131, 184, 198);
$color-dark-blue: rgb(34, 126, 175);
$color-light-green: rgba(190, 220, 170);
$color-grey: rgba(48, 48, 48);
$color-blue: rgba(132,178,212);
$color-green: rgba(193,223,169);
$color-black: rgba(51, 51, 51);
$color-white: rgba(255,255,255);
$color-bg-footer-black: rgba(29, 29, 29);
$color-bg-light-blue: rgb(230, 242, 247);

//size
$max-desktop: 1400px;