@use '../abstracts/variables' as var;

h1 {
    font-size: 66px;
    line-height: 66px;
    font-weight: 800;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
}