@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.about_us {
    padding: 16px;
    &__content {
        padding-top: 22px;
        &__team {
            display: flex;
            flex-direction: column;
            gap: 30px;
            position: relative;
            &__title__container{
                &__title {
                    @include mix.heading-s;
                    @include mix.breakpoint(tablet){
                        @include mix.heading-m;
                    }
                    @include mix.breakpoint(desktop){
                        @include mix.heading-l;
                    }
                }
            }
            &__container {
                display: flex;
                flex-direction: column;
                gap: 40px;
                align-items: center;
                margin-bottom: 16px;
                @include mix.breakpoint(tablet) {
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 60px;
                    padding: 16px 32px;
                }
                @include mix.breakpoint(desktop) {
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 80px;
                    padding: 16px 46px;
                }
                &__person {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    gap: 10px;
                    position: relative;
                    padding: 12px;
                    @include mix.breakpoint(desktop) {
                        gap: 20px;
                    }
                    &__title {
                        width: 100%;

                        @include mix.heading-xs;
                        @include mix.breakpoint(tablet){
                            @include mix.heading-s;
                        }
                        @include mix.breakpoint(desktop){
                            @include mix.heading-m;
                        }
                    }
                    &__subtitle {
                        font-size: 14px;
                        font-weight: 600;
                        color: var.$color-blue;

                    }
                    &__img {
                        border-bottom: 2px solid var.$color-green;
                        padding-bottom: 16px;

                        img{
                            border-radius: 50%;
                            box-shadow: -1px -1px 20px var.$color-green;
                        }
                    }
                    .description {
                        color: var.$color-black;
                        @include mix.breakpoint(tablet) {
                            height: 180px;
                            padding: 6px;
                            text-align: start;
                        }
                        @include mix.breakpoint(desktop) {
                            height: 120px;
                            padding: 6px;
                            text-align: start;
                        }

                    }
                }

            }
        }
    }
}